/*
diplay --> inline,block,inline-block,none
*/
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}
hr {
  border-color: grey;
  border-width: 10px;
  border-style:  dotted none none;
  width: 10%;
}

.code-img{
  width: 25%;
  float: left;
  padding-right: 30px;
}
.hehe-img
{
  width: 25%;
  float: right;
  padding-left:  2 0px;
  height: 180px;
}
h1
{
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 2;
}
h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-size: 35px;

}
a {
  color: #11999E;
}
.pro
{
  text-decoration: underline;
}

.bottom-cloud
{
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.top-cloud
{
  position: absolute;
  top: 50px;
  right: 400px;

}
.middle-container
{
  margin-bottom: 30px;
  line-height: 2;
}
.bottom-container
{
  background-color: #66BFBF;
  height: 100px;
  padding-top: 25px;
  color: #11999E;
}
#copyright
{
  color: #EAF6F6;
}
.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #66BFBF;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
